footer{
    font-family:"crimson text",serif;
    background-color:#F2FFFC;
    color: black;
}
article{
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.leia-mais{
    font-size: 1.5em;
    text-align: center;
    background-color:#E6E7E8;
    padding: 5em;
    margin: 1em;
    display: block;
}